@font-face {
	font-family: Monotype Corsiva;
	src: url(../fonts/8209.ttf);
}
@font-face {
	font-family: Arial;
	src: url(../fonts/arial.ttf);
}
@font-face {
	font-family: Garamond Italic;
	src: url(../fonts/Garamond Italic.ttf);
}
body {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color: white;
}	
.We_UA {
	display: flex;
	font-size: 30px;
	color: white;
	font-family: Monotype Corsiva;
	padding-left: 50px;
}
.header_uper {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #197a7a;
	padding: 0px 50px 0px 50px;
}
.header_navbar {
	border-bottom: 1px solid white;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.menu ul {
	display: flex;
	list-style-type: none;
	color: white;
	font-size: 12px;
	padding-right: 50px;
	font-family: Arial;	
}
.menu li {
	padding-left: 35px;
}
.about {
	background-image: url(../img/background_about.jpeg);
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 50px 0px;
}
.main_text p {
	width: 70%;
	margin: auto;
}
.main_text p:nth-child(2n + 1) {
	font-size: 48px;
}
.main_text p:nth-child(2n) {
	font-size: 30px;
}
p {
	margin: 0;
	padding: 0;
}
.text_team {
	display: flex;
	justify-content: center;
	font-size: 36px;
	color: #197a7a;
	margin: 80px 0px;
}
.first_fotos {
	width: 48%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 50px;
}
.second_fotos {
	width: 30%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 75px; 
}
.footer {
	display: flex;
	width: 100%;
	height: 300px;
	background-color: #197a7a;
	align-self: flex-end;
}
.footer_block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin: auto;
	align-items: center;
	padding-top: 50px; 
}
.footer_text {
	display: flex;
	color: white;
	font-size: 40px;
	font-family: Monotype Corsiva;
}
.footer_content span {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 30px;
	font-family: Monotype Corsiva;
	line-height: 40px;
	margin-right: 30px;
}
.contact {
	font-size: 40px !important;
	margin-bottom: 15px;
}
.footer_img {
	display: flex;
	flex-direction: column;
	margin-right: 100px;
}
.telegram {
	margin-left: -30px;
}
.tviter {
	margin-left: -60px;
}
.instagram {
	margin-left: -90px;
}
.facebook {
	margin-left: -120px;
}


@media(max-width: 480px) {
	.footer {
		height: auto;
	}
	.footer_block {
		flex-direction: column;
	}
	.footer_img {
		margin: 0;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
	}
	.footer_img *{
		margin: 0;
	}
	.footer_content span {
		margin: 10px 0;
	}
	.menu {
		display: none;
	}
}

@media(max-width: 1024px) {
	.menu ul {
		display: block;
		padding-right: 0;
		padding-left: 0;
	}
	.footer {
		height: auto;
	}
	.footer_block {
		flex-direction: column;
	}
	.footer_img {
		margin: 0;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
	}
	.footer_img *{
		margin: 0;
	}
	.footer_content span {
		margin: 10px 0;
	}
	.menu {
		display: none;
	}
	*,
	*:before,
	*:after {
		box-sizing: content-box !important;
	}
	.nav {
  		position: absolute;
  		top: 0;
  		right: 30px !important;
  		bottom: 570px !important;
  		width: 3.75rem;
  		transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  		will-change: width;
  		z-index: 99;
	}
	.first_fotos {
		width: 82% !important;
	}
	.second_fotos {
		width: 55% !important;
	}
}
@media(max-width: 1440px) {
	.first_fotos {
		width: 60%;
}
	.second_fotos {
		width: 40%;
	}
}
@media(max-width: 880px) {
	.first_fotos {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media(max-width: 838px) {
	.second_fotos {
		width: 75% !important;;
		flex-wrap: wrap;
		justify-content: center;
	}
	[alt="Vova"] {
		margin-right: 30px;
	}
	[alt="Vlad"] {
		margin-top: 30px;
	}
	[alt="Julia"] {
		margin-right: 30px;
	}
}
@media(max-width: 425px) {
	[alt="Vova"] {
		margin-right: 0px;
	}
	[alt="Sasha"] {
		margin-top: 30px;
	}
	[alt="Julia"] {
		margin-right: 0px;
		margin-top: -45px;
	}
	[alt="Vadim"] {
		margin-top: 30px;
	}
}