<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign UP</title>
	<link rel="stylesheet" href="../../resources/css/style.css">
	<link rel="stylesheet" href="../../resources/css/hamburger.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<div class="header_uper">
		  <div class="header_navbar">
			<div>
				<span class="We_UA"><a href="main.jsp">We UA</a></span>
			</div>
			<div class="menu">
				<nav>
					<ul>
						<li><a href="main.jsp">HOME</a></li>
						<li><a href="#">ABOUT</a></li>
						<li><a href="#">CONTACTS</a></li>
						<li><a href="account.jsp">ACCOUNT</a></li>
					</ul>
				</nav>
			</div>
			<div class="all-menu-mobile">
        <input type="checkbox" id="checkbox4" class="checkbox4 visuallyHidden">
        <label for="checkbox4">
            <div class="hamburger hamburger4">
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar3"></span>
                <span class="bar bar4"></span>
                <span class="bar bar5"></span>
            </div>
        </label>
			<nav class="menu-mobile-dropdown">
				<ul>
					<li><a href="main.jsp">HOME</a></li>
					<li><a href="#">ABOUT</a></li>
					<li><a href="#">CONTACTS</a></li>
					<li><a href="account.jsp">ACCOUNT</a></li>
				</ul>
			</nav>
		</div>
		  </div>
		</div>
	</header>

	<section class="signup">
		<span>NEW ACCOUNT</span>
		<div class="input_field">
			<form action="" class="input">
				<span><img src="../../resources/img/icons8-пользователь-64 (1).png" alt="person"></span><input type="First name" placeholder="First name" required="">
				<span><img src="../../resources/img/icons8-пользователь-64 (1).png" alt="person2"></span><input type="Last name" placeholder="Last name" required="">
				<span><img src="../../resources/img/icons8-гугл-плюс-80.png" alt="email"></span><input type="email" placeholder="Email" method="post" required="">
				<span><img src="../../resources/img/icons8-телефон-64 (1).png" alt="phone"></span><input type="Phone" placeholder="Phone" pattern="38[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}" id="tel" required="" id="phone">
				<span><img src="../../resources/img/icons8-блокировка-2-64.png" alt="password"></span><input type="password" placeholder="Password" method="post" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required="" id="password" name="password">
				<span><img src="../../resources/img/icons8-блокировка-2-64.png" alt="confirm_password"></span><input type="password" placeholder="Confirm password" method="post" required="" id="confirm" name="confirm_password">
			</form>
			<div class="police_confirm"><input type="checkbox"><span>By signip up. I agree to the terms of use</span></div>
		</div>
		<a href="#" class="button"><div>SIGNUP</div></a>
	</section>

	<footer>
	<div class="footer">
		<div class="footer_block">
			<div class="footer_text">
				<span><a href="main.jsp">We UA </a></span>
			</div>
				<div class="footer_content">
					<span class="contact">Контакти:</span>
					<span>Email: weua.company@gmail.com</span>
					<span>Телефон: +38(067)177-68-05</span>
					<span>Адрес: вул.Солом'янська 7, м.Київ. 03110</span>
					<span>&#169; 2018 Chaos Software. All rights reserved</span>
				</div>
		<div class="footer_img">
			<div class="telegram">
				<a href="#"><img src="../../resources/img/telegram.png" width="40px" height="40px"></a>
			</div>
			<div class="tviter">
				<a href="#"><img src="../../resources/img/tviter.png" width="40px" height="40px"></a>
			</div>
			<div class="instagram">
				<a href="#"><img src="../../resources/img/instagram.png" width="40px" height="40px"></a>
			</div>
			<div class="facebook">
				<a href="#"><img src="../../resources/img/facebook.png" width="40px" height="40px"></a>
			</div> 
		</div>	
		</div>
	</div>
</footer>

<script type="text/javascript" src="../../resources/engine1/jquery.js"></script>
<script type="text/javascript" src="../../resources/js/script.js"></script>
</body>
</html>